# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
*.env.local

# Database
backend/data.json

# Build output
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
